body{
    background-color: hsl(47, 88%, 63%);
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
  }

.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 20px; 
    visibility: hidden;
}

.card{
    box-shadow: 7px 7px hsl(0, 0%, 7%);
    height: auto;
    width: 300px;
    background-color: hsl(0, 0%, 100%);
    border: solid;
    border-radius: 25px;
    border-color: hsl(0, 0%, 7%);
    border-width: 2px;
    padding: 22px;
    
  }
.illustration{
    width: 100%;
    height: auto;
}
svg{
    border-radius: 15px;
}
@font-face{
    font-family: "FigtreeSemi";
    src:
        URL('../assets/fonts/static/Figtree-SemiBold.ttf'),
        URL('../assets/fonts/Figtree-VariableFont_wght.ttf'),
        URL('../assets/fonts/Figtree-Italic-VariableFont_wght.ttf');
        
}
@font-face{
    font-family: "FigtreeExtra";
    src:
        URL('../assets/fonts/static/Figtree-ExtraBold.ttf'),
        URL('../assets/fonts/Figtree-VariableFont_wght.ttf'),
        URL('../assets/fonts/Figtree-Italic-VariableFont_wght.ttf');
        
}
.main_title{
    background-color: hsl(47, 88%, 63%);
    display: inline-block;
    font-weight: 800;
    border-radius: 5px;
    padding:8px 12px 8px 12px;
    font-family: "FigtreeExtra";

}
.publication_date{
        font-size: 16px;
        font-weight: normal;
        font-family: "FigtreeSemi";
        margin-top:0px;
}
.second_title{
        font-weight: 800;
        font-size: 25px;
        font-family: "FigtreeExtra";
        color: hsl(0, 0%, 7%);
        margin-top: 0%;
}
.description{
    color: hsl(0, 0%, 50%);
    font-weight:normal;
    font-family: "FigtreeSemi";
    font-size: 16px;
    margin-top: 0%;
    
}
.profil_img{
        content: url("../images/image-avatar.webp");
        width: 20%;
        height: 20%;
}
.profil_panel{
        align-items: center;
        display: flex;
        justify-content: space-between;
        width: 140px;
        font-family: "FigtreeExtra";
}

      
      